body {
	background-color: #FFF;
}
ul {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;
	}
}
a {
	text-decoration: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
	@include media ('print'){
		&:after {
    		content: none !important;
  		}
	}
}
button{
	border: none;
	background: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}